.document {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 95vh;
    overflow: hidden;
}

.document > * {
    padding: 1rem;
}

.documentContent {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex: 1;
    overflow: hidden;
}

.paragraphs, .messages {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.paragraphs {
    width: 60%;
}

.messages {
    width: 40%;
}